body{
    background-color: #8ECAE6;
}

.home{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.home-btn{
    margin: 10px auto;
    text-align: center;
    display: block;
    width: 500px;
    height: 100px;
    background-color: #FFDB81;
    color: white;
    font-size: 30px;
    border: transparent;
}

.btn-text{
    text-decoration: none;
    color: white;
}